/*----------- MASTER --------------*/
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.5em;
}
body {
  padding-left: 175px;
}
p {
  padding-bottom: 20px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:img {
  border-bottom: 0px;
}
ul {
  list-style: none inside;
}
ol {
  list-style-position: outside;
  margin-left: 1.5em;
}
#container {
    max-width: 1500px;
    padding-top: 50px;
    padding-bottom: 75px;
    padding-right: 50px;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.clear {
  clear: both;
  display: block;
}
/*------ TYPOGRAPHY --------*/
h1 {
    font-size: 50px;
    font-weight: normal;
    padding-bottom: 50px;
    line-height: 50px;
       font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}
h2 {
   font-family: 'Anton', sans-serif;
    padding-top: 20px;
    font-weight: normal;
    font-size: 28px;
    text-transform: uppercase;
}
h2:first-child {
    padding-top: 0px;
}
h3 {
    width: 80%;
    font-size: 72px;
    line-height: 76px;
    font-weight: normal;
    padding-bottom: 125px;
}
h4 {
    font-size: 24px;
    font-weight: normal;
    color: rgba(0,0,0,.5);
    padding-bottom: 5px;
}
/*------ STRUCTURE --------*/
article {
    width: 65%;
    float: right;
}
article img {
    width: 100%;
    margin-left: -50px;
}
sidebar {
    padding-right: 100px;
    float: left;
    width: 35%;
    font-size: 18px;
}
sidebar img {
    width: 100%;
    margin-left: -50px;
    display: block;
}
sidebar ul {
    padding-bottom: 50px;
}
.side-nav li a {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    line-height: 50px;
    border-bottom: 0;
}
.side-nav li a:hover {
    padding-left: 25px;
}
.markers {
    position: absolute;
    padding-bottom: -175px;
    width: 100%;
}
.hero-image {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
        background-image: url(/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.hero-image img {
    width: 50%;
}

/*----------- HEADER --------------*/
header {
  padding: 50px;
  background-color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  border-top: none;
  font-weight: normal;
}
header h1 {
  font-weight: normal;
  color: #000000;
  font-size: 16px;
  padding: 0 100px 0 0;
  box-sizing: border-box;
    }
nav {
  font-size: 10px;
  font-size: 16px;
  font-weight: 600;
}
nav li {
  list-style: none;
    float: left;
    padding-left: 50px;
    font-size: 24px;
}
nav li a{
color: white;
}
nav li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

/*----------- HOMEPAGE --------------*/
.intro {
    padding: 50px 100px 150px 0px;
    font-size: 46px;
    line-height: 65px;
    text-indent: 100px;
}
.intro p {
  text-indent: 100px;
}
.intro a {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 2px;
    font-size: 46px;
}
.intro a:hover {
    background-color: yellow;
    transition: .5s;
}
.intro img {
    padding: 0 10px 0 10px;

}


/*----------- ARCHIVE --------------*/
.object {
    padding: 0px 0px 50px 0px;
  width: 100%;
}
.date {
  color: rgba(0,0,0,.3);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
    padding-bottom: 5px;
}
.project {
    font-weight: normal;
    line-height: 52px;
    font-size: 48px;
}
.summary {
    font-size: 18px;
    padding-top: 5px;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.blog-tags-list {
    padding-bottom: 10px;
    padding: 15px 0px 25px 0px;
    width: 100%;
    background-image: url(/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    }
.blog-tags-item {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    line-height: 50px;
    border-bottom: 0;
}
.blog-tags-item:hover {
    padding-left: 25px;
    }
.blog-tags-item:first-child {
    margin-left: 0px;
    }
#sort {
        width: 40%;
    padding-left: 50px;
    padding-bottom: 10px;
}

/* Share Bar */
#share-bar {
    margin-bottom: 50px;
}
#share-bar p {
    padding-bottom: 10px;
}
#share-bar img {
    width: 40%;
    padding-left: 50px;
}

/* All buttons */
.share-buttons {
    background-image: url(/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 10px;
    width: 100%;
}
.share-text {
      font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 18px;
}
.fab {
    font-size: 18px;
}
/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
/*    border: 1px solid #D3D6D2;*/
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}
/* Facebook button */
.fa-facebook-official {
}
.fa-facebook-f:hover {
    color: #3b5998;
        transition: .5s;
}

/* Twitter button */
.fa-twitter {
}
.fa-twitter:hover {
    color: #55acee;
    transition: .5s;
}

/* Google-PLus button */
.fa-google-plus {
}
.fa-google-plus:hover {
    color: #dd4b39;
        transition: .5s;
}

/* Pinterest button */
.fa-pinterest-p {
}
.fa-pinterest-p:hover {
    color: #cb2027;
        transition: .5s;
}

/* Tumblr button */
.fa-tumblr {
}
.fa-tumblr:hover {
    color: #32506d;
        transition: .5s;
}
/* Reddit button */
.fa-reddit-alien {
}
.fa-reddit-alien:hover {
    color: #ff4500;
        transition: .5s;
}
/* LinkedIn button */
.fa-linkedin {
}
.fa-linkedin:hover {
    color: #007bb5;
        transition: .5s;
}
/* Email button */
.fa-envelope {
}
.fa-envelope:hover {
    color: #444444;
        transition: .5s;
}

/*----------- RESOURCES --------------*/
.resources {
    width: 30%;
    float: left;
    margin: 0 25px 50px 0;
    background-color: rgba(0,0,0,.1);
}
.resource_title {
    padding: 25px 25px 0 25px;
    font-weight: 700;
}
.resource_description {
    padding: 0px 25px 25px 25px;
    font-size: 18px;
}
.resources:hover {
    background-color: rgba(0,0,0,.5);
    color: white;
    transition: .5s;
}
.resources img {
    width: 100%;
    display: block;
}

/*----------- PODCAST --------------*/
.podcast-description {
    font-size: 32px;
    line-height: 40px;
}
.podcast-sidebar p {
    background-image: url(/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 10px;
}
.podcast-sidebar p a i {
    font-size: 36px;
}

/*----------- RESPONSIVE VIDEO --------------*/
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------- CTA --------------*/
.cta {
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
}
.newsletter {
    padding: 50px;
    background-color: #222222;
    flex: 1;
    background-image: url(/images/footer_bg.png);
    background-size: cover;
}
.newsletter h4 {
    font-size: 36px;
    font-weight: normal;
}
.newsletter p {
    font-style: italic;
    width: 80%;
    margin: auto;
    font-size: 20px;
    line-height: 24px;
}
form {
    padding-top: 25px;
    border-bottom: solid 3 px white;
}
#tlemail {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 3px white;
    width: 100%;
}
input {
    border: 2px solid white;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1%;
        color: white;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    background-color: #222222;
}
.work-with-me {
    background-image: url(/images/mighty-jungle.png);
    background-size: cover;
    -webkit-filter: grayscale(100%);
    padding: 50px;
    margin: 0;
    flex: 1;
}
.work-with-me:hover {
    -webkit-filter: grayscale(0);
}
.work-with-me h2 {
    font-size: 48px;
    background-color: white;
}

/*----------- FOOTER --------------*/
footer {
  background-color: black;
  color:white;
  padding: 50px 50px 50px 50px;
  width: 100%;
  width: auto;
  position: sticky;
  bottom: 0;
  display: flex;
      font-size: 16px;
    align-content: center;
}
footer p {
    font-size: 16px;
}
footer p a {
    border-bottom: 1px solid white;
      font-size: 16px;
}
footer p a:hover {
    border-bottom: 1px solid grey;
}
footer .fab {
    font-size: 36px;
}
footer .fas {
    font-size: 36px;
}
.left {
  flex: 1;
  width: 50%;
}
.right {
  flex: 1;
    width: 50%;
  text-align: right;
}
footer li {
    padding-left: 25px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    list-style: none;
}
footer a {
    color: white;
}
footer .fa-linkedin:hover {
    color: white;
}
.colophon {
    font-size: 16px;
}
.colophon a {
    padding-top: 0px;
    font-size: 16px;
}

/*-----------------------------------
TABLET
----------------------------------- */
@media screen and (min-width: 716px) and (max-width: 1024px) {

}

/*-----------------------------------
MOBILE
----------------------------------- */
@media only screen and (max-width: 715px) {

}
