/*----------- MASTER --------------*/
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', serif;
  box-sizing: border-box;
}
p {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.5em;
}
a {
  color: #000000;
  text-decoration: none;
}
a:img {
  border-bottom: 0px;
}
ul {
  list-style: none inside;
    font-size: 18px;
}
li {font-size: 18px;}
ol {
  list-style-position: outside;
  margin-left: 1.5em;
}
#container {
    max-width: 1600px;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
    padding-top: 175px;
}
/*
#main {
    padding-top: 150px;
        max-width: 1600px;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
}
*/
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.clear {
  clear: both;
  display: block;
}
/*------ TYPOGRAPHY --------*/
h1 {
    color: #999999;
    font-weight: normal;
    font-size: 20px;
}
h2 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 28px;
}
h2:first-child {
    padding-top: 0px;
}
h3 {
    width: 80%;
    margin: auto;
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
    text-align: center;
}
h4 {
    font-size: 24px;
    font-weight: normal;
    color: rgba(0,0,0,.5);
    padding-bottom: 5px;
}
h5 {
    font-size: 18px;
}
/*------ STRUCTURE --------*/
article {
    width: 60%;
    float: left;
}
article img {
    width: 100%;
}
sidebar {
    padding-left: 50px;
    float: right;
    width: 35%;
    font-size: 18px;
}
sidebar ul {
    padding-bottom: 50px;
}
.side-nav {
    width: 50%;
        font-size: 20px;
}
.side-nav li a {
    border-bottom: 0;
    font-size: 20px;
}
.side-nav li a:hover {
    border-bottom: 1px solid black;
}
.sort {
    column-count: 3;
}
.portrait {
    border-radius: 50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/*----------- HEADER --------------*/
header {
  padding: 15px 0px 25px 0px;
    margin-bottom: 50px;
  width: 100%;
    position: fixed;
    background-color: white;
/*
        background-image: url(http://www.jarrettfuller.com/markpollard.net/images/black-line-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
*/
}
header #container {
    width: 100%;
    padding-top: 0px;
    display: flex;
/*    align-items: center;*/
}
.logo {

  font-weight: normal;
  padding: 0px 15px 5px 0px;
        width: 40%;
    }
nav {
    font-size: 42px;
    line-height: 40px;
    font-weight: 700;

}
nav a:hover {
    text-decoration: underline;
}
header .page-title {
    width: 50%;
    float: right;
}
header button.toggle {
    background: rgba(255,255,255,.0);
    height: 25px;
    width: 25px;
    z-index: 100;
    border: none;
    outline: 0;
    margin-right: 15px;
    display: none;
}
.nav-up {
    top: -147px;
}
/*
header button.toggle:active {
    background: rgba(255,255,255,.0);
}
header button.toggle:focus {
    outline: 0;
}

.toggle span {
    display: block;
    height: 4px;
    background-color: black;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}
*/

/*----------- HOMEPAGE --------------*/
.intro {
    font-size: 46px;
    line-height: 65px;
    text-indent: 100px;
}
.intro p {
  text-indent: 100px;
}
.intro a {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 2px;
    font-weight: 700;
/*    font-size: 46px;*/
}
.intro a:hover {
    background-color: yellow;
    transition: .5s;
}
.intro img {
    padding: 0 10px 0 10px;
}


/*----------- ARCHIVE --------------*/
main {
    width: 60%;
}
.object {
    padding: 0px 0px 55px 0px;
  width: 100%;
}
.project {
    font-weight: 400;
    line-height: 52px;
    font-size: 48px;
}
.project:hover {
    text-decoration: underline;
}
.summary {
    font-size: 24px;
    padding-top: 5px;
    font-style: italic;
        color: #999999;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.blog-tags-list {
    padding-bottom: 10px;
    padding: 15px 0px 25px 0px;
    width: 100%;
    background-image: url(http://www.jarrettfuller.com/markpollard.net/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    }
.blog-tags-item {
}
.blog-tags-item:hover {
    text-decoration: underline;
    }
#sort {
    width: 30%;
    padding-bottom: 5px;
    border: 0px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0);
    margin-bottom: 0px;
}

/*----------- ARTICLES --------------*/
.titles {
    text-align: center;
}
hr {
    width: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.1);
    border: none;
    padding: 3px;
}
.essay {
    width: 60%;
    margin: auto;
    float: none;
}
.about-footer {
    padding-top: 25px;
    display: flex;
    opacity: .5;
}
.about-footer img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 25px;
}
.about-footer:hover {
    opacity: 1;
}
.related-posts {
    padding-top: 25px;
    text-align: center;
}
.related-posts h4 { padding-bottom: 25px;}

/*----------- SHARE --------------*/
#share-bar {
    margin-bottom: 50px;
    padding-top: 50px;
}
#share-bar p {
    padding-bottom: 0px;
}
#share-bar img {
    width: 15%;
}

/* All buttons */
.share-buttons {
    background-image: url(http://www.jarrettfuller.com/markpollard.net/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 10px;
    width: 100%;
}
.share-text {
      font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 18px;
}
.fab {
    font-size: 18px;
}
/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
/*    border: 1px solid #D3D6D2;*/
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}
/* Facebook button */
.fa-facebook-official {
}
.fa-facebook-f:hover {
    color: #3b5998;
        transition: .5s;
}

/* Twitter button */
.fa-twitter {
}
.fa-twitter:hover {
    color: #55acee;
    transition: .5s;
}

/* Google-PLus button */
.fa-google-plus {
}
.fa-google-plus:hover {
    color: #dd4b39;
        transition: .5s;
}

/* Pinterest button */
.fa-pinterest-p {
}
.fa-pinterest-p:hover {
    color: #cb2027;
        transition: .5s;
}

/* Tumblr button */
.fa-tumblr {
}
.fa-tumblr:hover {
    color: #32506d;
        transition: .5s;
}
/* Reddit button */
.fa-reddit-alien {
}
.fa-reddit-alien:hover {
    color: #ff4500;
        transition: .5s;
}
/* LinkedIn button */
.fa-linkedin {
}
.fa-linkedin:hover {
    color: #007bb5;
        transition: .5s;
}
/* Email button */
.fa-envelope {
}
.fa-envelope:hover {
    color: #444444;
        transition: .5s;
}

/*----------- RESOURCES --------------*/
.resource-list {
    display: flex;
    flex-wrap: wrap;
}
.resource-list a{
    width: 30%;
    float: left;
    margin: 0 50px 50px 0;
    background-color: rgba(0,0,0,.1);
}
.resource_title {
    padding: 25px 25px 0 25px;
    font-weight: 700;
    font-size: 24px;
}
.resource_description {
    padding: 0px 25px 25px 25px;
    font-size: 18px;
}
.resources:hover {
    background-color: rgba(0,0,0,.5);
    color: white;
}
.resources img {
    width: 100%;
    display: block;
}

/*----------- PODCAST --------------*/
.podcast-description {
    font-size: 32px;
    line-height: 40px;
}
.podcast-sidebar p {
    background-image: url(http://www.jarrettfuller.com/markpollard.net/images/black-line-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 10px;
    color: lightgrey;
}
.podcast-sidebar img {
    border: 1px solid lightgrey;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    width: 100%;
    margin-bottom: 25px;
}

/*----------- RESPONSIVE VIDEO --------------*/
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------- CTA --------------*/
.cta {
    display: flex;
    text-align: center;
    background-image: url(http://www.jarrettfuller.com/markpollard.net/images/black-line-01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.newsletter {
    padding: 50px;
    flex: 1;
}
.newsletter h4 {
    font-size: 36px;
    font-weight: normal;
}
.cta p {
    font-style: italic;
    width: 80%;
    margin: auto;
    font-size: 20px;
    line-height: 24px;
}
form {
    padding-top: 25px;
    border-bottom: solid 3 px white;
}
#tlemail {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 1px solid black;
    width: 100%;
}
input {
    border: 1px solid black;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1%;
    background-color: white;
    font-size: 18px;
    letter-spacing: 1px;
}
.work-with-me {
    padding: 50px;
    margin: 0;
    flex: 1;
}

/*----------- FOOTER --------------*/
footer {
  padding: 25px 0px 25px 0px;
    background-color: rgba(212,212,212,1);
  width: 100%;
    margin: auto;
  font-size: 16px;
  align-content: center;
    color: #666666;
    margin-top: 50px;
    opacity: .6;
}
footer:hover {
/*    color: black;*/
    opacity: 1;
        background-color: rgba(212,212,212,.6);
}
footer #container { padding-top: 0px;}
footer p {
    font-size: 16px;
}
footer p a {
    border-bottom: 1px solid white;
      font-size: 16px;
        color: #666666;
}
footer p a:hover {
    border-bottom: 1px solid #666666;
      font-size: 16px;
        color: black;
}
footer .fab {
    font-size: 24px;
        color: #666666;
}
footer .fas {
    font-size: 24px;
        color: #666666;
}
footer li {
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    list-style: none;
}
footer .fa-linkedin:hover {
    color: black;
}
.footer-nav {
    display: flex;
        padding-bottom: 50px;
}
.footer-nav-block {
    flex: 1;
    width: 25%;
    padding-right: 25px;
}
.colophon {
    display: flex;
    background-image: url(http://www.jarrettfuller.com/markpollard.net/images/black-line-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 25px;
}
.left {
  flex: left;
  width: 50%;
}
.right {
  flex: right;
  width: 50%;
  text-align: right;
    font-size: 16px;
}

/*-----------------------------------
TABLET
----------------------------------- */
@media screen and (min-width: 716px) and (max-width: 1024px) {

}

/*-----------------------------------
MOBILE
----------------------------------- */
@media only screen and (max-width: 1024px) {
p {font-size: 16px;}
#container { padding: 200px 25px 25px 25px;}
    h1 {padding-bottom: 15px;}
h3 {width: 100%; font-size: 28px; line-height: 32px;}
header { padding: 15px 0px 15px 0px; display: block;}
header .logo { padding: 15; width: 100%; }
header article { text-align: center; padding-top: 20px; padding-bottom: 10px; }
header nav {
    width: 100%;
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 25px;
    }
    header #container {display: block; padding-bottom: 0px; }
    .side-nav {width: 100%; }
.side-nav li {float: left; padding-right: 10px;}
.sort {column-count: 1;}
.intro { font-size: 30px; line-height: 34px;}

article { width: 100%; }
sidebar { padding-left: 0px; width: 100%; }

    main {width: 100%; }
.essay { width: 100%; }
    .titles {margin-top: -50px;}
    .project { font-size: 36px; line-height: 40px;}
.summary {font-size: 18px; line-height: 22px;}
.about-footer { padding-top: 25px; display: block; opacity: .5; }
.about-footer img {display: none; }
.about-footer:hover {opacity: .5;}
.blog-tags-list {padding-bottom: 50px;}
.blog-tags-item {float: left; padding-right: 15px;}

/*----------- MOBILE NAV --------------*/
header nav ul {
    display: none;
}
header nav ul {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 25px;
    z-index: 99;
/*    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);*/
}
header nav ul li {
    font-size: 25px;
        text-align: center;
        padding-top: 10px;
        padding-left: 0px;
        list-style: none;
        border-bottom: 0px white solid;
        float: none;
    display: block;
}
    header nav ul li:hover {border-bottom-width: 0px;}
    .nav-up {    top: -200px;}
/*----------- RESOURCES --------------*/
.resource-list {display: block;}
.resource-list a{ width: 100%;}
.resource_title {
    font-size: 22px;
}
.resource_description {
    padding: 0px 25px 25px 25px;
    font-size: 16px;
}
.resources:hover {
    background-color: rgba(0,0,0,.1);
    color: black;
}

/*----------- Footer --------------*/
.cta { display: block; }
.newsletter {width: 100%; }
.work-with-me {width: 100%;}
footer {display: block; opacity: 1; padding: 0px }
    footer:hover {background-color: rgba(212,212,212,1);}
    footer #container {padding-top: 20px;}
    .colophon {display: block;}
.left {width: 100%;}
.right {width: 100%; text-align: left;}
.footer-nav {
    display: block;
    padding-bottom: 20px;
    }
    .footer-nav-block {
    width: 100%;
    padding-right: 0px;
        padding-bottom: 20px;

}
}
