<div class="about-footer">
<img src="https://pbs.twimg.com/profile_images/921819715076526081/T6ld1_Ne_400x400.jpg">
    <div class="bio">
    <b>Mark Pollard</b> I’m a strategy director and reformed magazine publisher from Sydney who relocated to New York in 2011. I’m currently helping companies work themselves out at Mighty Jungle. You can find me on LinkedIn, Twitter at @markpollard, Instagram or join the Facebook page. I’ve been making content for the Internet since around 1997. I write about strategy, account planning, the changing nature of advertising, creativity and ideas. <a href="/about-mark-pollard">More ></a></div>
</div>
