 <div class="cta">
<div class="newsletter"><img src="{{site.github.url}}/images/newsletter.png" width=80% >
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at facilisis nisi, finibus ultrices turpis. Vivamus ut enim in neque consequat rutrum.</p>
    <form action="" method="post" ><p><input type="text" name="email" id="tlemail" value "email"/><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" id/></form></p>
</div>


<div class="work-with-me">
    <a href="/work-with-me"><h2>WORK WITH ME</h2></a>
</div>

</div>

<section class="clear"></section>

<footer>

    <div class="left">
        <p>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> Mark Pollard | <a href="{{ site.github.url }}/contact">Contact</a> | <a href="{{ site.github.url }}/privacy-policy">Privacy Policy</a> | <a href="{{ site.github.url }}/terms-and-conditions">Terms and Conditions</a></p>
    </div>

            <div class="right">
                 <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i></a>

                <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i>
                </a>

                <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i>
                </a>

                <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

                <a href="https://www.youtube.com/channel/UCfeZ325IgWnG6z3b0k4AVbA"><i class="fab fa-youtube-square"></i>
                </a>

                <a href="http://eepurl.com/dscjW5"><i class="fas fa-envelope-square"></i>
                </a>

            </div>

    </footer>

