<header>
    <h1><a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/name_black.png" height="22px"></a></h1>

        <nav><ul>
                <li><a href="{{ site.github.url }}/strategy-articles">Articles</a></li>
                <li><a href="{{ site.github.url }}/strategy-resources">Resources</a></li>
                <li><a href="{{ site.github.url }}/sweathead-podcast">Podcast</a></li>
                <li><a href="{{ site.github.url }}/about-mark-pollard">About</a></li>
             </ul></nav>
    </header>
