<header>
<div id="container">

<div class="logo">
            <!-- This HTML makes a little button to show and hide -->
        <button class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/name_black.png" height="18px"></a>

</div>


<div class="page-title">
    {% if page.h1 %}
                <h1>{{ page.h1 }}</h1>
                    {% endif %}
</div>

        </div>
    </header>
