<header>

    <sidebar><div class="logo">
            <!-- This HTML makes a little button to show and hide -->
        <button class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/name_black.png" height="22px"></a></div></sidebar>

    <article>{% if page.h1 %}
                <h1>{{ page.h1 }}</h1>
                    {% endif %}</article>


        <nav>
                <ul>
                <li><a href="{{ site.github.url }}/strategy-articles">Articles</a></li>
                <li><a href="{{ site.github.url }}/strategy-resources">Resources</a></li>
                <li><a href="{{ site.github.url }}/sweathead-podcast">Podcast</a></li>
                <li><a href="{{ site.github.url }}/about-mark-pollard">About</a></li>
             </ul>
    </nav>
    </header>
