<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,600,600i" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon.jpg">

    </head>
    <body id="top">
<div id="container">

<div class="intro">

    {{ content }}

    </div>

</div>

<section class="clear"></section>

{% include footer.html %}
    </body>



</html>
