---
layout: default
---

<div class="hero-image"><img src="/images/podcast_header-01.png"></div>

<article>

<div class="podcast-description">{{ page.description }}</div>

{{ content }}

</article>

<sidebar class="podcast-sidebar">
<img src="{{ site.github.url }}/images/subscribe-podcast.png" id="sort">
<p><a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zNDI3MzI0L3BvZGNhc3QvcnNz"><i class="fab fa-google-play"></i></a>

<a href="https://open.spotify.com/show/2Vh5jVI1EdMDeHs3N8XoME"><i class="fab fa-spotify"></i></a>    </p>

<!--<img src="http://agency-innovators.typepad.com/.a/6a0120a628d2c3970b01b7c6e231c0970b-320wi">-->

</sidebar>


