---
layout: default
---

<div class="hero-image"><img src="https://gallery.mailchimp.com/dfb4c80f84a49d4cfc0d34490/images/31576124-7235-4b5b-8ea1-d5460d4322b8.jpg"></div>

<article>

<div class="podcast-description">{{ page.description }}</div>

{{ content }}

</article>

<sidebar class="podcast-sidebar">
<h2>Subscribe</h2>
<p><a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zNDI3MzI0L3BvZGNhc3QvcnNz"><i class="fab fa-google-play"></i></a>

<a href="https://open.spotify.com/show/2Vh5jVI1EdMDeHs3N8XoME"><i class="fab fa-spotify"></i></a>

<img src="http://agency-innovators.typepad.com/.a/6a0120a628d2c3970b01b7c6e231c0970b-320wi">

    </p>

</sidebar>


